@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --color-dark: rgb(37, 37, 37);
    --color-light: rgb(240, 240, 238);
    --color-primary: rgb(240, 136, 0);
    --color-primary-light: rgb(247, 165, 55);
    --color-primary-dark: rgb(212, 96, 23);
    --color-black: #000;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100vh;
}

span {
    color: var(--color-primary);
}

nav {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo,
.about {
    text-decoration: none;
    font-size: 25px;
    font-weight: 200;
}

.logo {
    color: var(--color-primary-light);
}

.logo:hover {
    color: var(--color-primary);
}

.about {
    background-color: var(--color-primary-light);
    border-radius: 50%;
    color: var(--color-dark);
    padding: 2px 10px;
}

.about:hover {
    background-color: var(--color-primary);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
}

.search {
    padding: 0 50px 0 100px;
    width: 50vw;
    height: 100%;
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    font-weight: 500;
    font-size: 40px;
}

.sub {
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0;
}

.input {
    margin: 30px 0 10px 0;
    display: block;
    width: 80%;
    font-size: 24px;
    border: none;
    outline: none;
    padding: 5px 10px;
}

.btn {
    font-size: 20px;
    font-weight: 500;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
}

.result {
    padding: 0 100px 0 50px;
    width: 50vw;
    height: 100%;
    background-color: var(--color-light);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-top {
    display: flex;
    align-items: center;
}

audio {
    margin-left: 30px;
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}


.result-bottom {
    margin-top: 20px;
}

.origin {
    font-size: 16px;
    font-weight: 400;
}

.meaning {
    margin: 10px 0;
}

.partsofspeech {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-dark);
}

.definition {
    font-size: 17px;
    font-weight: 400;
    margin-left: 20px;
    color: var(--color-dark);
}

.example {
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}